//todo: preload images & auto_prefix delay
.row.byTag
  each track,i in results
    - var delay = i*50+'ms'
    .col-md-3.col-sm-4
      .search_result.clearfix(style='animation-delay: #{delay};' +
      '-webkit-animation-delay: #{delay};' +
      '-moz-animation-delay: #{delay};')
        .album-cover
          span.rank= track.get('@attr')['rank']
          - var mp3 = track.get('downloadurl')
          if mp3
            audio.audio(controls, preload='none')
              source(src='#{mp3}', type='audio/mpeg')
              a(href='#{mp3}') Скачать
          if track.get('image')
            img(src='#{track.get("image")[3]["#text"]}')
          else
            img(src='stylesheets/img/no-img.png')
        .info
          a(href='#{track.get("url")}')
            =track.get('artist')['name']
            | :
            br
            =track.get('name')